name: Deploy MkDocs to Org Site

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # This is for the current repo
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install MkDocs
        run: |
          pip install mkdocs
          pip install mkdocs-material

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          # Use your personal access token to give permission to push to ComfyDock.github.io
          git remote add pages "https://${{ secrets.DOCS_PUBLISH_TOKEN }}@github.com/ComfyDock/ComfyDock.github.io.git"

      - name: Deploy
        run: |
          mkdocs gh-deploy \
            --force \
            --config-file mkdocs.yml \
            --remote-name pages \
            --remote-branch master
